.out_button{
    width: 100%;
}
.linkButton {
    width: 40%;
    height: 35px;
    line-height: 35px;
    background: #69bdfb;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.top_btn{
    position: fixed;
    top:200px;
    left: 0;
}
.bottom_btn{
    position: fixed;
    bottom:200px;
    left: 0;
}

/*list*/
.financeList li{
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.financeList li .leftInfo {
    flex: 1;

}
.financeList li .rightInfo{
    flex: 1;
    text-align: right;
}
/*fiance*/
.fiance_apply {
    padding: 5px;
}

.fiance_apply li {
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}
.apply_date,.apply_price,.apply_type {
    display: -webkit-flex;
    display: flex;
    line-height: 40px;
}

.time_info,.price_info,.type_info{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 34px;
    width: 80%;
    text-align: center;
    float: right;
    margin-top: 3px;
}
.date_rightInfo, .date_leftInfo, .price_leftInfo, .price_rightInfo, .type_leftInfo, .type_rightInfo, .detail_leftInfo{
    flex: 1;
}
.detail_rightInfo {
    flex: 3;
}
.apply_detail {
    display: -webkit-flex;
    display: flex;
    line-height: 80px;
}

.detail_info {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 70px;
    width: 80%;
    float: right;
    margin-top: 5px;
}
